<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.system.mapper.HisDetectionResultMapper">

    <resultMap type="HisDetectionResult" id="HisDetectionResultResult">
        <result property="resultId"    column="result_id"    />
        <result property="userId"    column="user_id"    />
        <result property="patiName"    column="pati_name"    />
        <result property="detectionType"    column="detection_type"    />
        <result property="sampleNumber"    column="sample_number"    />
        <result property="originalFile"    column="original_file"    />
        <result property="resultFile"    column="result_file"    />
        <result property="polypCount"    column="polyp_count"    />
        <result property="maxSize"    column="max_size"    />
        <result property="minSize"    column="min_size"    />
        <result property="avgConfidence"    column="avg_confidence"    />
        <result property="positions"    column="positions"    />
        <result property="detectionTime"    column="detection_time"    />
        <result property="reportGenerated"    column="report_generated"    />
        <result property="reportFile"    column="report_file"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHisDetectionResultVo">
        select result_id, user_id, pati_name, detection_type, sample_number, original_file, result_file, polyp_count, max_size, min_size, avg_confidence, positions, detection_time, report_generated, report_file, create_by, create_time, update_by, update_time, remark
        from his_detection_result
    </sql>

    <select id="selectHisDetectionResultList" parameterType="HisDetectionResult" resultMap="HisDetectionResultResult">
        <include refid="selectHisDetectionResultVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="patiName != null  and patiName != ''"> and pati_name like concat('%', #{patiName}, '%')</if>
            <if test="detectionType != null  and detectionType != ''"> and detection_type = #{detectionType}</if>
            <if test="sampleNumber != null  and sampleNumber != ''"> and sample_number = #{sampleNumber}</if>
            <if test="reportGenerated != null  and reportGenerated != ''"> and report_generated = #{reportGenerated}</if>
            <if test="detectionTime != null "> and detection_time = #{detectionTime}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectHisDetectionResultByResultId" parameterType="Long" resultMap="HisDetectionResultResult">
        <include refid="selectHisDetectionResultVo"/>
        where result_id = #{resultId}
    </select>

    <insert id="insertHisDetectionResult" parameterType="HisDetectionResult" useGeneratedKeys="true" keyProperty="resultId">
        insert into his_detection_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="patiName != null">pati_name,</if>
            <if test="detectionType != null">detection_type,</if>
            <if test="sampleNumber != null">sample_number,</if>
            <if test="originalFile != null">original_file,</if>
            <if test="resultFile != null">result_file,</if>
            <if test="polypCount != null">polyp_count,</if>
            <if test="maxSize != null">max_size,</if>
            <if test="minSize != null">min_size,</if>
            <if test="avgConfidence != null">avg_confidence,</if>
            <if test="positions != null">positions,</if>
            <if test="detectionTime != null">detection_time,</if>
            <if test="reportGenerated != null">report_generated,</if>
            <if test="reportFile != null">report_file,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="patiName != null">#{patiName},</if>
            <if test="detectionType != null">#{detectionType},</if>
            <if test="sampleNumber != null">#{sampleNumber},</if>
            <if test="originalFile != null">#{originalFile},</if>
            <if test="resultFile != null">#{resultFile},</if>
            <if test="polypCount != null">#{polypCount},</if>
            <if test="maxSize != null">#{maxSize},</if>
            <if test="minSize != null">#{minSize},</if>
            <if test="avgConfidence != null">#{avgConfidence},</if>
            <if test="positions != null">#{positions},</if>
            <if test="detectionTime != null">#{detectionTime},</if>
            <if test="reportGenerated != null">#{reportGenerated},</if>
            <if test="reportFile != null">#{reportFile},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateHisDetectionResult" parameterType="HisDetectionResult">
        update his_detection_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="patiName != null">pati_name = #{patiName},</if>
            <if test="detectionType != null">detection_type = #{detectionType},</if>
            <if test="sampleNumber != null">sample_number = #{sampleNumber},</if>
            <if test="originalFile != null">original_file = #{originalFile},</if>
            <if test="resultFile != null">result_file = #{resultFile},</if>
            <if test="polypCount != null">polyp_count = #{polypCount},</if>
            <if test="maxSize != null">max_size = #{maxSize},</if>
            <if test="minSize != null">min_size = #{minSize},</if>
            <if test="avgConfidence != null">avg_confidence = #{avgConfidence},</if>
            <if test="positions != null">positions = #{positions},</if>
            <if test="detectionTime != null">detection_time = #{detectionTime},</if>
            <if test="reportGenerated != null">report_generated = #{reportGenerated},</if>
            <if test="reportFile != null">report_file = #{reportFile},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where result_id = #{resultId}
    </update>

    <delete id="deleteHisDetectionResultByResultId" parameterType="Long">
        delete from his_detection_result where result_id = #{resultId}
    </delete>

    <delete id="deleteHisDetectionResultByResultIds" parameterType="String">
        delete from his_detection_result where result_id in
        <foreach item="resultId" collection="array" open="(" separator="," close=")">
            #{resultId}
        </foreach>
    </delete>
</mapper>
